<!DOCTYPE html>
<html>
<head>
	<title>Text to Handwriting</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="icon" type="image/x-icon" href="favicon.ico" />

</head>
<body>
	<div class="container">
		<div class="alert alert-warning">
			<center><h1>Get your text to handwriting</h1></center>
		</div>
		<br>
		<form method="POST", action="/" class="form-inline">
			<label> Enter your text: &nbsp;&nbsp; </label>
			<textarea name="tex" rows="5" cols="100"></textarea>
			<button class="btn btn-primary btn-lg"> Get Handwritten </button>
		</form>

	</div>
</body>
</html>
